<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Pick a planet:</h1>
    <ul>
        <li th:each = "planet : ${planets}" th:text="${planet.name}"></li>
    </ul>
<table class="table">
    <thead>
        <th>Planet name</th>
        <th>Length of year, in Earth days</th>
        <th>Distance to the Sun, in AU</th>
        <th>Mass, relative to Earth's mass</th>
    </thead>
    <tbody>
    <tr th:each = "planet : ${planets}">
        <td th:text="${planet.name}"></td>
        <td th:text="${planet.yearLength}"></td>
        <td th:text="${planet.distanceFromSun}"></td>
        <td th:text="${planet.mass}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>